{#
 # Socials
 #
 # @package WordPress
 # @subpackage WordPressTheme
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if socials is iterable %}
	<ul class="{{ html_classes( classes | default( [ 'flex' ] ) | join( ' ' ) ) }}">
		{% for social in socials %}
			<li>
				<a href="{{ social.url }}" target="_blank" rel="noopener noreferer">
					{{- icon( social.slug, { classes: [] } ) -}}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
